<div class="panel panel-default" ng-repeat="contact in contacts | orderBy:'lastName'">

	<div class="panel-heading">
		{{contact.firstName}} {{contact.lastName}}
	</div>

	<div class="panel-body">

		<!-- Edit -->
		<div ng-if="contact.isEditing">
			<contact-edit contact="contact"></contact-edit>
		</div>

		<!-- View -->
		<div ng-if="!contact.isEditing">
			<a href="javascript:void(0)" 
			   ng-click="contact.isEditing = true" 
			   class="btn btn-primary">Edit</a>

			<contact-view contact="contact" />
		</div>

	</div>

</div>